header {
    background: white; 
    padding: 20px 30px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

nav {
    display: flex;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Estilo para o botão de logout */
.login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.nome {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

/* Adicionando responsividade */
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    
    .nav-links li {
        margin: 10px 0;
    }
}
