/* Estilização do corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(135deg, #4a90e2, #5379fa);
    color: #333;
}

/* Estilo para o cabeçalho da página */
.header h1 {
    font-weight: 600;
    font-size: 60px;
}

.header h2 {
    font-weight: 200;
    font-size: 25px;
}

/* Estilo do card principal */
.card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    background-color: #fff; 
}

/* Estilo dos campos de entrada */
.form-control {
    border-radius: 25px; 
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 45px;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
}

/* Foco nos campos de entrada */
.form-control:focus {
    border-color: #5379fa;
    box-shadow: 0 0 5px rgba(83, 121, 250, 0.5);
}

/* Estilo do botão principal */
.btn-primary {
    background-color: #5379fa;
    border-color: #5379fa;
    border-radius: 25px; 
    margin-top: 20px;
    height: 55px; 
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s; 
}

/* Estilo ao passar o mouse sobre o botão */
.btn-primary:hover {
    background-color: #3a5bbd;
    border-color: #3a5bbd;
    transform: translateY(-2px); 
}

.criarConta{
    vertical-align: auto;
    align-items: center;
    z-index: auto;
}